name: Disable Workflow Video

on:
  push:
      branches: [ main ]


jobs:
   disable:
        runs-on: ubuntu-latest

        steps:
          - name: Sarang
            run: echo "Disabled Workflow DevOps"
